.globalFooter{
    position: fixed;
    left: 0;
    margin-bottom: 0px;
    width: 100%;
    background-color: #1E0A3C;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    /* text-align: center; */
    padding: 27px;
    color:grey;
    text-align: left;

  }
