#navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 80px;
    height: 80px;
}

.navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    width: 43px;
    width: 136px;
}

.navbar__headers button {
    color: white;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 560;
    padding: 0 15px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    color: white;
    border: none;
    background: none;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 560;
    padding: 0 15px;
}

.button2 {
    padding: 12px;
    border-radius: 5px;
    background-color :#4a154b;
    color:white;
    font-size: 15px;
    font-weight: 560;
    border: 1px solid white;
    margin: 0 10px;
}

.button2:hover {
    border: 2px solid white;
    padding: 10px;
}

.button3 {
    border: white;
    padding: 12px;
    border-radius: 5px;
    color: #4a154b ;
    background-color: white;
    font-size: 15px;
    font-weight: 560;
    margin-left: 10px;
}

.button3:hover {
    border: 2px solid #4a154bd2;
    padding: 10px;
}


.searchButton{
    height: 40px;
    width: 40px;
}


.NavbarContainerWhite {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin-left: 40px; */
    /* margin-right: 50px;
    margin-top:0px; */
    border: none;
    background-color: white;
    border-radius: 25px;
    width: 93%;
}
