.message {
    min-height: 52px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    color: #1D1C1D;
    display: flex;
}

.message:hover {
    background-color: rgba(211, 211, 211, 0.192);
}

.message__avatar {
    align-self: flex-start;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.message__avatar > img {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.10);
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 3px;
}

.message__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    line-height: 18px;
    overflow: hidden;
}

.message__content > h2 > span {
    padding-left: 10px;
    color: #616061;
    font-size: 12px;
    font-weight: normal;
}

.message__content p {
    font-weight: 400;
}

.message__options {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 1px;
    display: flex;
}

.message__options div {
    border: none;
    background-color: inherit;
    font-size: 15px;
    border-radius: 999px;
    margin: 0 4px;
    padding: 2px 5px;
    cursor: pointer;
    color: #616061c1;
    display: flex;
}

.message__options div:hover {
    background-color:lightgray;
    color: #616061;
}

#edit__icon:hover {
    background-color: #24a0ed;
    color: white;
}

#delete__icon:hover {
    background-color: #ff4040;
    color: white;
}

#edit__icon,
#delete__icon {
    padding: 1px 3px;
    font-size: 13px;
    font-weight: 500;
}

/* .edit__icon span p, */
/* #delete__icon span p {
    padding-left: 3px;
    font-size: 13px;
    font-weight: 500;
} */