.chatbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 71px;
    position: fixed;
    width: 100%;
    border-bottom: 2px lightgray solid;
    overflow: hidden;
}

.chatbox__content {
    margin-top: 69px;
}

.chatbox__messages {
    height: calc(100vh - 50px - 68px - 50px);
    overflow: auto;
}


.chatbox__messages::-webkit-scrollbar {
    display: none;
}