.sidebar {
    background-color: #3F0E40;
    max-width: 260px;
    border-top: 1px solid #49274b;
    color: white;
    position: relative;
    height: 100%;
    /* height: calc(100vh - 44px); */
}

.sidebar__header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding: 15px 15px;
    height: 69px;
    width: 260px;
    box-sizing: border-box;
    position: fixed;
    background-color: #3F0E40;
}

.sidebar__content__wrap {
    position: absolute;
    top: 69px;
    height: 100%;
    z-index: 0;
    width: 100%;
    overflow-y: auto;
}

.sidebar__content__wrap::-webkit-scrollbar {
    display: none;
}

.sidebar__content {
    height: auto;
    padding-bottom: 100px;
}

.sidebar__header:hover {
    background-color: #350D36;
}

.sidebar__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__name > h2 {
    font-size: 1rem;
    margin-bottom: 8px;
    justify-self: center;
}

.sidebar__name > h3 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: capitalize;
}

.sidebar__create {
    align-self: flex-end;
    padding: 8px;
    color: #49274b;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__create:hover {
    cursor: pointer;
    opacity: 0.9;
}

.sidebar__create__modal {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 40px;
}

.sidebar__create__modal h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sidebar__create__modal > p {
    margin-bottom: 15px;
    color: #808080;
}

.create__modal__div {
    padding: 10px 5px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.plus__icon {
    padding-right: 5px;
}

.create__modal__div:hover {
    cursor: pointer;
    background-color: lightgray;
}

.create__modal__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
}

.create__modal__img{
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #3f0e40;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.10);
}

.create__modal__img img {
    height: 180px;
    width: 180px;
}

.sidebar__options, 
.sidebar__channels, 
.sidebar__dms {
    background-color: #3F0E40;
    max-width: 260px;
    border-top: 1px solid #49274b;
    color: white;
    padding: 15px 0px;
}

.sidebar__options > div:hover {
    background-color: #350D36;
}


.dm__list__avatar {
    height: 27px;
    width: 27px;
    border-radius: 5px;
    margin-right: 6px;
    display: flex;
    position: relative;
}

.dm__list__avatar img {
    height: 23px;
    width: 23px;
    object-fit: cover;
    border-radius: 5px;
}

.dm__list__count {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3F0E40;
    padding: 1.5px 3px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
}

.dm__list__names {
    display: flex;
}

.private__icon {
    padding-right: 10px;
    font-size: 15px;
}

.channels__header {
    position: relative;
}

.add__icon {
    padding-right: 15px;
    position: absolute;
    bottom: 4px;
    right: 0px;
}

#add__icon1,
#add__icon2 {
    color: white;
    font-size: 1.2rem;
    padding: 2px;
}

#add__icon1:hover, 
#add__icon2:hover {
    border-radius: 2px;
    background-color: #502952;
    cursor: pointer;
}

.channels__div {
    padding: 10px 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.channels__div:hover {
    background-color: #350D36;
}


