.navbar__logo{
    display: flex;
    align-items: center;
    width: 30px;
    margin-top: 25px;
}
.SlackX{
    color: white;
    font-family: Verdana;
    margin-left: 10px;
    margin-top: 25px;
}
.NavbarContainer{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

.navBar-left button{
    color: white;
    border: none;
    background: none;
}
